body {
  font-family: Helvetica;
  font-size: 16px;
  display: block;
  line-height: 22.4px;
}

h1, h4 {
  font-weight: bold;
  line-height: 1em;
}

nav {
  background-color: firebrick;
  color: white;
  margin: auto -8px auto -8px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
}

li {
  display: list-item;
}

.headlines h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 8px 0px;
}

.company {
  background-color: black;
  color: white;
  margin: -8px -8px auto -8px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.company img {
  height: 1.5em;
  padding-right: 15px;

}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

.main-banner {
  height: 25em;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto -8px auto -8px;
}

.headline {
  background-color: black;
  color: white;
  width: 20em;
  position: relative;
  top: 9em;
  padding: 2em 3em;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .mobile-nav {
    display: block;
  }
}
